nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    background-color: #222;
}

.nav-item{
    height: 80px;
    color: #fff;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: bold;

    
}

.nav-item__text{
    
}